<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h2>Mark attendance of <%= subjectname %>
        </h2>
        <hr>
        <h2>List of Students-</h2>
        <!-- ========================================================================================>>>     -->
        <!-- attendance not found -->
        <% if(result.length==0) {%>
            <H1>No student found</H1>
            <% } %>
                <!-- ========================================================================================>>>     -->

                <!-- ========================================================================================>>>     -->
                <!-- attendance found -->

                <% if(result.length>=1 ){ %>
                    <table class="table table-striped">
                    <tr>
                        <th>Present</th>
                        <th>Name</th>
                    </tr>
                 
                            <form action="/attendance/<%= year %>/<%= id %>/<%= subjectname %>" method="post">
                                <% result.forEach(function(student) { %>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="student" value="<%= student._id %>">
                                        </td>
                                        <td>
                                            <%= student.name %><br>
                                        </td>
                                    </tr>
                                        <% }); %>
                                            <br>
                                    <button class="btn btn-dark" type="submit">Mark Attendance</button>
                            </form>
                    
                    </table>
                    <% } %>

                        <!-- ========================================================================================>>>     -->
    </body>