<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Welcome <%= result.name %></h1>
    <h2>Select subject </h2>
    <hr>
    <% if(year ==1){ %>
        <!-- // Enggmaths1 Physics Electricals Softskills1 Pps Ai Enggmaths2 Chemistry Electronics Mechanical EmergingTech -->
        <div class="row offset-1 mt-3 mb-3">
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Enggmaths1">Engg Mathmatics-1</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Physics">Physics</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Electricals">Electricals</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Pps">Programing for problem solving</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Softskills1">Soft skills -1</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Enggmaths2">Engg Mathmatics-2</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Chemistry">Chemistry</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Mechanical">Mechanical</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Electronics">Electronics</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Softskills2">Soft skills -2</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Ai">Ai</a></button>
                <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/EmergingTech">EmergingTech</a></button>
        </div>
    <% } %>

    <% if(year ==2){ %>
        <!-- // Enggmaths4 Uhv Coa Dstl Ds Css Ese Tc Toc Mp Os Python -->
    <div class="row offset-1 mt-3 mb-3">
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Enggmaths4">Enggmaths4</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Uhv">Uhv</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Coa">Coa</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Dstl">Dstl</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Ds">Ds</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Css">Css</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Ese">Ese</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Tc">Tc</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Toc">Toc</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Mp">Mp</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Os">Os</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Python">Python</a></button>
    </div>
    <% } %>
    <% if(year ==3){ %>
        <!-- // Dbms Cd Daa Wd Hci Constitution Cn Wt Uhb TraditionalCulture Se Dip  -->
    <div class="row offset-1 mt-3 mb-3">
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Dbms">Dbms</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Cd">compiler design</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Daa">Daa</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Wd">Wd</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Hci">Hci</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Constitution">EConstitution</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Cn">computer network</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Wt">Wt</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Uhb">Uhb</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/TraditionalCulture">TraditionalCulture</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Se">Se</a></button>
        <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Dip">Dip</a></button>
    </div>
    <% } %>
    <% if(year ==4){ %>
        <!-- // Ml  Distribution CloudComputing Rd Qm DataWare -->
        <div class="row offset-1 mt-3 mb-3">
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Ml">Machine Learning</a></button>
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Distribution">Distribution</a></button>
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/CloudComputing">CloudComputing</a></button>
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Rd">Rd</a></button>
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/Qm">Qm</a></button>
            <button  class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/DataWare">DataWare</a></button>
        </div>
    <% } %>
  
</body>
