<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Welcome <%= result.username %></h1>
    <h2>Select subject </h2>
    <hr>
    
    <% if(year ==1){ %>
        <!-- // Enggmaths1 Physics Electricals Softskills1 Pps Ai Enggmaths2 Chemistry Electronics Mechanical EmergingTech -->
        <h3>Find your subjects attendance -</h3>
            <div class="row offset-1 mt-3">
                <div class="row ">
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Enggmaths1">Engg Mathmatics-1</a></button >    
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Physics">Physics</a></button >
                </div>
                    
                <div class="row">
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Electricals">Electricals</a></button >
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Pps">Programing for problem solving</a></button >
                </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Softskills1">Soft skills -1</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Enggmaths2">Engg Mathmatics-2</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Chemistry">Chemistry</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Mechanical">Mechanical</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Electronics">Electronics</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Softskills2">Soft skills -2</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/Ai">Artificial Inteligence</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/EmergingTech">EmergingTechnology</a></button>
                    </div>
            
        
            </div>
            <% } %>    
            
            <!-- ECMaterialScience, ECUniversalHumanValue ,ECElectronicDevices ,
             ECDigitalSystemDesign ,ECNetworkAnalysisAndSynthesis ,ECPythonProgramming
               ,ECMiniProjectI ,ECMathsIV , ECtechnicalCommunication
                ,ECCommunicationEngineering ,ECAnalogCircuits ,ECSignalSystem ,ECComputerSystemSecurity -->

    <% if(year ==2){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECMaterialScience">ECMaterialScience</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECUniversalHumanValue">ECUniversalHumanValue</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECElectronicDevices">ECElectronicDevices</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECDigitalSystemDesign">ECDigitalSystemDesign</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECNetworkAnalysisAndSynthesis">ECNetworkAnalysisAndSynthesis</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECPythonProgramming">ECPythonProgramming</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECMiniProjectI">ECMiniProjectI</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECMathsIV">ECMathsIV</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECtechnicalCommunication">ECtechnicalCommunication</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECCommunicationEngineering">ECCommunicationEngineering</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECAnalogCircuits">ECAnalogCircuits</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECSignalSystem">ECSignalSystem</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECComputerSystemSecurity">ECComputerSystemSecurity</a></button>
    
            </div>
        </div>
    <% } %>

    <!-- ECIntegratedCircuit ,ECMicroprocessorAndMicrocontroller , ECDigitalSignalProcessing , ECVlsiTechnology , ECElectronicsSwitching , ECConstitutionOfIndia , ECMiniProjectII , ECDigitalCommunication ,ECControlSystem, ECAntennaAndWavePRopagation, ECDataCommunicationNetwork ,ECUnderstandingHumanBeing ,ECIndianTradition -->

    <% if(year ==3){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row  offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECIntegratedCircuit">ECIntegratedCircuit</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECMicroprocessorAndMicrocontroller">ECMicroprocessorAndMicrocontroller</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECDigitalSignalProcessing">ECDigitalSignalProcessing</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECVlsiTechnology">ECVlsiTechnology</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECElectronicsSwitching">ECElectronicsSwitching</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECConstitutionOfIndia">ECConstitutionOfIndia</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECMiniProjectII">ECMiniProjectII</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECDigitalCommunication">ECDigitalCommunication</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECControlSystem">ECControlSystem</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECAntennaAndWavePRopagation">ECAntennaAndWavePRopagation</a></button>    
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECDataCommunicationNetwork">ECDataCommunicationNetwork</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECUnderstandingHumanBeing">ECUnderstandingHumanBeing</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECIndianTradition">ECIndianTradition</a></button>
            </div>
        </div>
    <% } %>


    <!-- ECVlsiDesign ,ECRenewableEnergyResources ,ECWirelessAndMobileComminication ,ECRuralDevelopement ,ECProject  ,ECInternshipAssesment -->

    <% if(year ==4){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECVlsiDesign">ECVlsiDesign</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECRenewableEnergyResources">ECRenewableEnergyResources</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECWirelessAndMobileComminication">ECWirelessAndMobileComminication</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECRuralDevelopement">ECRuralDevelopement</a></button>    
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECProject">ECProject</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= year %>/<%= result._id %>/<%= branch %>/ECInternshipAssesment">ECInternshipAssesment</a></button>
            </div>
        </div>
    <% } %>
    
</body>
