<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h2>Welcome ! <b><%= result.username %></b></h2>
    <h3>email - <%= result.email %></h3>
    <h2>Your Overall percentage = 
        <% { %>
            <% let totalLecture = att.length %>
            <% let attemptLecture=0 %>
            <% for(currAtt of att) {%>
                <% if (currAtt.present) { %>
                    <% attemptLecture++ %>
                <% } %>
            <% } %>
            <%= ((attemptLecture/totalLecture)*100).toFixed(2) %>
        <% } %>
        %</h2>
    <hr>
    <% if(result.year ==1){ %>
        <!-- // Enggmaths1 Physics Electricals Softskills1 Pps Ai Enggmaths2 Chemistry Electronics Mechanical EmergingTech -->
        <h3>Find your subjects attendance -</h3>
            <div class="row offset-1 mt-3">
                <div class="row ">
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Enggmaths1">Engg Mathmatics-1</a></button >    
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Physics">Physics</a></button >
                </div>
                    
                <div class="row">
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Electricals">Electricals</a></button >
                    <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Pps">Programing for problem solving</a></button >
                </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Softskills1">Soft skills -1</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Enggmaths2">Engg Mathmatics-2</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Chemistry">Chemistry</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Mechanical">Mechanical</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Electronics">Electronics</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Softskills2">Soft skills -2</a></button >
                    </div>
                    <div class="row">
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/Ai">Artificial Inteligence</a></button >
                        <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/EmergingTech">EmergingTechnology</a></button>
                    </div>
            
        
            </div>
            <% } %>    
    <!-- // Enggmaths4 Uhv Coa Dstl Ds Css Ese Tc Toc Mp Os Python -->


    <% if(result.year ==2){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSEnggmaths4">Engg Mathmatics-4</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSUhv">UnderStanding human value</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSCoa">Computer Organization and architecture</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDstl">Dstl</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDs">data structure</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSCss">Css</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSEse">Ese</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSTc">Technical communication</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSToc">Toc</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSMp">Mp</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSOs">Os</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSPython">Python</a></button>
            </div>
        </div>
    <% } %>

    <!-- // Dbms Cd Daa Wd Hci Constitution Cn Wt Uhb TraditionalCulture Se Dip  -->
    <% if(result.year ==3){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row  offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDbms">Dbms</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSCd">Cd</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDaa">Daa</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSWd">Wd</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSHci">Hci</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSConstitution">Constitution</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSCn">Cn</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSWt">Wt</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSUhb">Uhv</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSTraditionalCulture">TraditionalCulture</a></button>    
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSSe">Se</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDip">Dip</a></button>
            </div>
        </div>
    <% } %>
    <% if(result.year ==4){ %>

        <h3>Find your subjects attendance -</h3>
        <div class="row offset-1 mt-3">
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSMl">Machine learning</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDistribution">Distribution system</a></button>
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSCloudComputing">Cloud computing</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSRd">Rural developement</a></button>    
            </div>
            <div class="row">
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSQm">Quality Management</a></button>
                <button class="mb-3 ms-1 btn  btn-dark col-md-5"><a href="/attendance/<%= result._id %>/CSDataWare">Data Ware housing</a></button>
            </div>
        </div>
    <% } %>
    
</body>
